.custom_text_center{
    text-align: center;
}
.custom_para{
    width: 100%;
    margin-bottom: 30px;
}
.custom_para p{
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}
/* king heading css start */
.sketch_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.sketch_heading h2{
    position: relative;
    display: inline-block;
    color: #484848;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.6;
}
.sketch_heading h2 .lg_font{
    font-size: 50px;
}
.sketch_heading h2 .blue_color{
    position: relative;
    color: #69B8DB;
}
.sketch_heading h2 .blue_color:before{
    content: '';
    position: absolute;
    top: 70%;
    left: 4%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.39;
    background-image: url('../images/sketch_heading_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.king_heading{
    position: relative;
    display: table;
    margin: auto;
    text-align: center;
}
.king_heading h6{
    position: absolute;
    top: 0;
    left: 80px;
    transform: translate(-100%, 0);
    color: #484848;
    font-size: 20px;
    font-family: 'Yu Mincho';
    font-weight: 600;
    line-height: 1;
    z-index: 1;
}
.king_heading h6 span{
    display: block;
    transform: rotate(-22deg);
}
.king_heading h6:before{
    content: '';
    position: absolute;
    bottom: -30px;
    right: -10px;
    width: 97px;
    height: 48px;
    background-image: url('../images/small_heading_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.king_heading h4{
    color: #484848;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
}
.king_heading h2{
    position: relative;
    color: #BCA982;
    font-size: 80px;
    font-family: 'Yu Mincho';
    font-weight: 600;
    line-height: 1.3;
}
.king_heading h2 .blue_font{
    color: #70B6CF;
    font-size: 70px;
}
.king_heading h2 .md_font{
    font-size: 40px;
}
.king_heading h2 .sm_font{
    font-size: 20px;
}
.king_heading h2 .text_shadow_font{
    text-shadow: 4px 2px 0 #cfcfcf;
}
.king_heading h2:before,
.king_heading h2:after{
    content: '';
    position: absolute;
    top: 30px;
    width: 2px;
    height: 50px;
    background-color: #484848;
    transform-origin: bottom;
}
.king_heading h2:before{
    left: -50px;
    transform: rotate(-40deg);
}
.king_heading h2:after{
    right: -50px;
    transform: rotate(40deg);
}
.king_heading .bttn{
    display: inline-block;
    background-color: #72C9D8;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    padding: 37px 73px;
    margin-top: 10px;
}
.king_heading .bttn .fa{
    margin-left: 50px;
}
/* king heading css end */
/* regular heading css start */
.regular_heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.regular_heading h2{
    color: #484848;
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 12px;
}
.regular_heading h6{
    color: #70B6CF;
    font-size: 20px;
    font-family: 'Trajan Pro 3';
    font-weight: 600;
}
/* regular heading css end */

/* about clinic css start */
.about_clinic_wrapper{
    position: relative;
    width: 100%;
}
.about_clinic_wrapper img{
    margin-left: auto;
}
.about_clinic_wrapper p{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    width: 100%;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}
.about_clinic_section .king_heading_wrapper{
    padding: 100px 0 85px;
}
/* about clinic css end */

/* about section css start */
.about_section{
    position: relative;
    padding: 60px 0 30px;
    z-index: 1;
}
.about_section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120%;
    background-image: url('../images/about_section_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.about_section .para{
    margin-bottom: 20px;
}
.about_section .para p{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}
.about_section .img{
    background-color: #FFFFFF;
    padding: 35px 15px 17px;
    margin-bottom: 20px;
}
.about_section .img img{
    margin: auto;
}
/* about section css end */

/* golden ratio css start */
.golden_ration_about{
    position: relative;
    padding-bottom: 100px;
}
.golden_ration_about .img{
    width: 100%;
}
.golden_ration_about .img img{
    margin-left: auto;
}
.golden_ration_about .content{
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    max-width: 637px;
    background: linear-gradient(35deg, rgba(113, 178, 209, 0.98), rgba(198, 223, 229, 0.78));
    color: #FFFFFF;
    padding: 40px 100px;
}
.golden_ration_about .content p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 2.5;
    margin-bottom: 50px;
}
.golden_ration_about .content p:last-child{
    margin-bottom: 0;
}
.golden_ration_grider{
    width: 100%;
    padding: 65px 15px;
}
.golden_ration_eyebrow{
    width: 100%;
    border: 1px solid rgba(118, 185, 208, 0.45);
    margin-bottom: 20px;
}
.golden_ration_eyebrow img{
    width: 100%;
    position: relative;
    transform: translate(-14px, -14px);
}
.golden_ration_points{
    position: relative;
    width: 100%;
    padding-bottom: 45px;
}
.golden_ration_points:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 68%;
    background-image: url('../images/golden_point_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.golden_ration_points .head{
    margin-bottom: 65px;
}
.golden_ration_points .head img{
    margin: auto;
}
.golden_points_bx{
    width: 100%;
    background-color: #FFFFFF;
    margin-bottom: 45px;
}
.golden_points_bx img{
    width: 100%;
}
.golden_points_bx .cont{
    display: flex;
    align-items: flex-end;
    padding: 15px 15px 15px 60px;
}
.golden_points_bx h6{
    font-size: 18px;
    color: #70B6CF;
    font-family: 'Trajan Pro 3';
    font-weight: 600;
    line-height: 1;
    margin-right: 50px;
}
.golden_points_bx h6 span{
    font-size: 24px;
}
.golden_points_bx h4{
    color: #70B6CF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
}
/* golden ratio css end */

/* before_after_section css start */
.before_after_section{
    width: 100%;
    padding: 78px 0 85px;
}
.before_after_slider{
    margin: 65px 0 50px;
}
.before_after_slider .tag{
    display: table;
    margin: 20px auto 40px;
    border-width: 20px 25px 0 25px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}
.before_after_slider .img{
    position: relative;
    width: calc(100% - 15px);
    margin-left: auto;
    border: 2px solid #76B9D0;
}
.before_after_slider .img img{
    width: 100%;
    height: 100%;
    transform: translate(-15px, -15px);
}
.before_after_slider .img.img_before:after{
    content: 'before';
}
.before_after_slider .img.img_after:after{
    content: 'AFTER';
}
.before_after_slider .img:after{
    position: absolute;
    top: -15px;
    left: -15px;
    background: linear-gradient(#52B2CD, #67D5D6);
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Trajan Pro 3';
    font-weight: 600;
    line-height: 1;
    padding: 9px 18px;
}
.before_after_bottom_content{
    position: relative;
    width: 100%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.10);
    padding: 27px 56px 22px;
}
.before_after_bottom_content:before{
    content: '';
    position: absolute;
    top: -11px;
    left: 20px;
    width: 23px;
    height: 39px;
    background-image: url('../images/pin_icon.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.before_after_bottom_content p{
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.4;
}
/* before_after_section css end */

/* menu_section css start */
.menu_section{
    width: 100%;
    background-color: #EDF3F5;
    padding: 54px 0 42px;
}
.menu_section_head{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin: 50px 0;
}
.menu_section_head:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 2px;
    background-color: #484848;
    z-index: -1;
}
.menu_section_head h3{
    display: inline-block;
    background-color: #EDF3F5;
    color: #484848;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 30px;
}
.menu_section_layer{
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0;
}
.menu_section_layer .col_img{
    position: relative;
    width: 50%;
    background-color: #FCE1CC;
    z-index: 2;
    transform: translate(0, -50px);
}
.menu_section_layer .col_img.bg_none{
    background: none;
}
.menu_section_layer .col_img .tag{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -30%);
    width: 144px;
    height: 144px;
    background-image: url('../images/tag_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BCA982;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
}
.menu_section_layer .img{
    padding: 15px 10px 10px;
}
.menu_section_layer .img img{
    margin: auto;
}
.menu_section_layer .col_img.bg_none .img img{
    width: 100%;
}
.menu_section_layer .img_text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(180deg, #52B2CD, #67D5D6);
    padding: 19px;
    text-align: center;
}
.menu_section_layer .img_text h4{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
}
.menu_section_layer .col_cont{
    position: relative;
    width: 50%;
    z-index: 1;
    padding: 30px;
}
.menu_section_layer .col_cont:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% + 50px);
    height: 100%;
    z-index: -1;
    background-color: #FFFFFF;
}
.menu_section_layer .col_cont h4{
    color: #70B6CF;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}
.menu_section_layer .col_cont p{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
}
/* menu_section css end */

/* price_section css start */
.price_section{
    width: 100%;
    padding: 78px 0 88px;
}
.price_table{
    text-align: center;
}
.price_table table{
    width: 100%;
    max-width: 1078px;
    margin: auto;
    border: 2px solid #70B6CF;
    color: #484848;
    font-size: 16px;
    font-weight: 500;
    border-collapse: collapse;
    margin-bottom: 65px;
}
.price_table table thead th{
    background: linear-gradient(20deg, #52B2CD, #67D5D6);
    padding: 10px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
}
.price_table table tbody th,
.price_table table tbody td{
    text-align: center;
    border: 1px solid #CECECE;
    padding: 15px 30px;
}
.price_table table tbody td:last-child{
    text-align: right;
}
/* price_section css end */

/* stepper_section css start */
.stepper_section{
    width: 100%;
    background-color: #EDF3F5;
    padding: 54px 0;
}
.stepper_item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 865px;
    margin: auto;
    padding: 25px 0;
}
.stepper_item:after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-width: 30px 44px 0 44px;
    border-style: solid;
    border-color: #5EB4CE transparent transparent transparent;
}
.stepper_item .col_img{
    width: 40%;
}
.stepper_item .col_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stepper_item .col_cont{
    position: relative;
    width: 60%;
    padding: 40px 52px;
    background-color: #FFFFFF;
}
.stepper_item .col_cont .tag{
    position: absolute;
    bottom: -10px;
    right: 18px;
    color: #484848;
    font-size: 35px;
    font-family: 'Trajan Pro 3';
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    opacity: 0.10;
}
.stepper_item .col_cont .tag span{
    font-size: 50px;
}
.stepper_item .col_cont h4{
    color: #70B6CF;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}
.stepper_item .col_cont p{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
}
/* stepper_section css end */

/* safe_secure_section css start */
.safe_secure_section{
    width: 100%;
    padding: 73px 0;
}
.safe_secure_section .king_heading_wrapper{
    margin-bottom: 87px;
}
.safe_secure_glry{
    background-image: url('../images/safe_secure_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.safe_secure_img img{
    margin: auto;
}
.safe_secure_para{
    width: 100%;
    margin-top: 30px;
}
.safe_secure_para p{
    text-align: center;
    color: #484848;
    font-size: 18px;
    line-height: 2;
    font-weight: 500;
    margin-bottom: 38px;
}
/* safe_secure_section css end */

/* faq_section css start */
.faq_section{
    width: 100%;
    padding: 50px 0 129px;
}
.faq_content{
    width: 100%;
    max-width: 876px;
    margin: auto;
}
.faq_content .accordion-jquery-ui{
    width: 100%;
    background-color: transparent;
    border: none;
}
.faq_content .accordion-jquery-ui .ui-icon{
    display: none;
}
.faq_content .accordion-jquery-ui .question{
    color: #484848;
    font-size: 18px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-top: 1px solid #CECECE;
    padding-top: 34px;
    padding-bottom: 34px;
}
.faq_content .accordion-jquery-ui .answer{
    color: #484848;
    font-size: 16px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    line-height: 2.2;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CECECE;
}
.faq_content .accordion-jquery-ui .question,
.faq_content .accordion-jquery-ui .answer{
    position: relative;
    padding-left: 96px;
    padding-right: 96px;
    margin: 0;
}
.faq_content .accordion-jquery-ui .question:before{
    content: 'Q.';
    top: 28px;
    color: #70B6CF;
}
.faq_content .accordion-jquery-ui .answer:before{
    content: 'A.';
    top: 17px;
    color: #484848;
    opacity: 0.40;
}
.faq_content .accordion-jquery-ui .question:before,
.faq_content .accordion-jquery-ui .answer:before{
    position: absolute;
    left: 30px;
    font-size: 30px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    line-height: 1;
}
.faq_content .accordion-jquery-ui .question:after{
    content: '-';
    position: absolute;
    top: 28px;
    right: 30px;
    color: #484848;
    font-size: 24px;
    font-family: 'Noto Serif JP', serif;
    line-height: 1;
    transition: all 0.4s ease;
}
.faq_content .accordion-jquery-ui .question.ui-state-active:after{
    content: '+';
    transform: rotate(-180deg);
}
/* faq_section css end */

/* reservation_section css start */
.reservation_section{
    width: 100%;
    background-image: url('../images/reservation_section_bg.png');
    background-repeat: repeat-y;
    background-size: 100%;
    padding: 72px 0 97px;
}
.reservation_form_box{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.10);
    padding: 65px;
}
.reservation_para{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.reservation_para p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
}
.reservation_para p span{
    color: #C21717;
}
/* reservation_section css end */

/* contact_section css start */
.contact_section{
    width: 100%;
    padding: 70px 0;
}
.contact_banner img{
    width: 100%;
}
.contact_profile{
    position: relative;
    width: 100%;
    padding: 105px 0 0;
}
.contact_profile:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 73%;
    background-color: #EDF3F5;
    z-index: -1;
}
.contact_profile_cont h4{
    color: #70B6CF;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}
.contact_profile_cont h3{
    color: #484848;
    font-size: 50px;
    font-family: 'Trajan Pro 3';
    font-weight: 600;
    line-height: 1.2;
    text-align: right;
    opacity: 0.10;
    padding-right: 50px;
}
.contact_profile_cont p{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    margin-bottom: 30px;
}
.contact_profile_cont p strong{
    font-weight: 700;
}
.contact_location{
    width: 100%;
    padding: 80px 0;
}
.contact_location_cont{
    padding-left: 50px;
}
.contact_location_cont h4{
    color: #484848;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}
.contact_location_cont p{
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.3;
}
.contact_location_cont p strong{
    font-weight: 700;
    display: inline-block;
    min-width: 90px;
}
.contact_location_cont p span{
    display: inline-block;
}
/* contact_section css end */