/*fonts css start*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+JP&family=Noto+Serif+JP:wght@400;500;600;700;900&display=swap');
@font-face {
    font-family: 'Trajan Pro 3';
    src: url('../fonts/TrajanPro3-Semibold.eot');
    src: url('../fonts/TrajanPro3-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TrajanPro3-Semibold.woff2') format('woff2'),
    url('../fonts/TrajanPro3-Semibold.woff') format('woff'),
    url('../fonts/TrajanPro3-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Yu Mincho';
    src: url('YuMincho-Demibold.eot');
    src: url('YuMincho-Demibold.eot?#iefix') format('embedded-opentype'),
    url('YuMincho-Demibold.woff2') format('woff2'),
    url('YuMincho-Demibold.woff') format('woff'),
    url('YuMincho-Demibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/*fonts css end*/
/*
font-family: 'Great Vibes', cursive;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Trajan Pro 3'; font-weight: 600;
font-family: 'Yu Mincho'; font-weight: 600;
*/


/*common css start*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p, a, span{
    margin: 0px;
    padding: 0px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -font-smoothing: antialiased;
    font-family: 'Noto Serif JP', serif;
}
body.no_scroll {
    overflow: hidden;
}
a, button, input[type=submit], select{
    cursor: pointer;
}
a, a:hover, a:focus,
button, button:hover, button:focus,
input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus,
select, select:hover, select:focus{
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
.cpc {
    display: block !important;
}
.csp {
    display: none !important;
}
@media (max-width: 900px){
    .cpc{
        display: none !important;
    }
    .csp{
        display: block !important;
    }
}
/*common css end*/

/*page pre-loader css start*/
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    pointer-events: none;
    background-color: #fff;
}
.loader-wrapper .loader {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid rgba(62, 174, 230, 0.2);
    border-right: 3px solid rgba(62, 174, 230, 0.2);
    border-bottom: 3px solid rgba(62, 174, 230, 0.2);
    border-left: 3px solid rgba(62, 174, 230, 0.8);
    -webkit-animation: loaderSpin 1.5s infinite linear;
    animation: loaderSpin 1.5s infinite linear;
}
@-webkit-keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loaderSpin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*page pre-loader css end*/

/*animations css start*/
.io {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
}
.io.move {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}
.io.fade {
    opacity: 0;
}
.io.lr {
    -webkit-transform: translate3d(-80px, 0, 0);
    transform: translate3d(-80px, 0, 0);
}
.io.rl {
    -webkit-transform: translate3d(80px, 0, 0);
    transform: translate3d(80px, 0, 0);
}
.io.upL {
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
}
.io.upS {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.downL {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
}
.io.downS {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}
.io.scaleUp {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.io.scaleDown {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.io.rotateL {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.io.rotateR {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.io.delay.delay1 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}
.io.delay a {
    -webkit-transition: none;
    transition: none;
}
.io.delay .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity, transform;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}
.io.delay.delay1 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
    -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
    transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}
.io.delay.move .delay_child {
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
@media (max-width: 900px) {
    .io.delay.delay1 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay2 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay3 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay.delay4 {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
    }
    .io.delay .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay1 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay2 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay3 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
    .io.delay.delay4 .delay_child {
        -webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
        transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
    }
}
/*animations css end*/

/* custom grid css start */
.custom_container_fluid{
    width: 100%;
    padding: 0 15px;
}
.custom_container{
    width: 100%;
    max-width: 1210px;
    padding: 0 15px;
    margin: auto;
}
.custom_row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.custom_col_12{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.custom_col_8{
    flex: 0 0 66.67%;
    max-width: 66.67%;
    padding: 0 15px;
}
.custom_col_6{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.custom_col_4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}
.custom_col_3{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
/* custom grid css end */

/*header section css start*/
.site_header {
    position: relative;
    padding: 15px 0;
}
.site_header .custom_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.custom_navbar ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.custom_navbar ul li:not(:first-child) {
    margin-left: 30px;
}
.custom_navbar ul li a {
    color: #484848;
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    display: block;
}
.custom_navbar ul li a span {
    display: block;
    color: #484848;
    font-size: 14px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    margin-top: 10px;
}
.custom_navbar ul li a.number_link {
    color: #69B8DB;
    font-weight: 900;
    font-size: 24px;
}
.custom_navbar ul li a.number_link i {
    font-size: 21px;
    margin-right: 8px;
}
.custom_navbar ul li a.contact_btn {
    width: 165px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: rgb(114,201,216);
    background: -moz-linear-gradient(90deg, rgba(114,201,216,1) 0%, rgba(83,177,204,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(114,201,216,1) 0%, rgba(83,177,204,1) 100%);
    background: linear-gradient(90deg, rgba(114,201,216,1) 0%, rgba(83,177,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72c9d8",endColorstr="#53b1cc",GradientType=1);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.custom_navbar ul li a.contact_btn i {
    margin-right: 10px;
}
.navbar_toggler {
    padding: 0;
    height: 35px;
    width: 35px;
    border: none;
    outline: none !important;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    z-index: 9999;
}
.navbar_toggler .navbar_toggler_inner,
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    width: 35px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: transform;
    border-radius: 4px;
    background-color: rgb(114,201,216);
    position: absolute;
    left: 0;
    right: 0;
}
.navbar_toggler .navbar_toggler_inner{
    transition: top 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar_toggler .navbar_toggler_inner:after,
.navbar_toggler .navbar_toggler_inner:before {
    display: block;
    content: "";
}
.navbar_toggler .navbar_toggler_inner:before {
    transition: top 75ms ease 0.12s,opacity 75ms ease;
    top: -12px;
}
.navbar_toggler .navbar_toggler_inner:after {
    transition: bottom 75ms ease 0.12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
    bottom: -12px;
}
.navbar_toggler.open_menu .navbar_toggler_inner {
    transition: top 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(45deg);
    top: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease 0.12s;
    opacity: 0;
}
.navbar_toggler.open_menu .navbar_toggler_inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
    transform: rotate(-90deg);
}
/*header section css end*/

/* footer css start */
.site_footer{
    width: 100%;
    background-color: #484848;
    padding: 30px 0;
}
.site_footer p{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* footer css end */

/*banner section css start*/
.banner_section {
    background-image: url('../images/site-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0 20px;
}
.banner_content {
    display: table;
}
.banner_content h2 {
    display: table;
    margin: auto;
    background-image: url(../images/banner_text_image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 12px 30px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.banner_content h3 {
    display: table;
    margin: 15px auto 0;
    background-image: url(../images/banner_text_image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 12px 30px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.banner_content h1 {
    color: #606a6b;
    font-size: 80px;
    font-weight: 700;
    margin: 20px 0 0;
}
.banner_content h1 span {
    font-size: 90px;
}
/*banner section css end*/

/*problem section css start*/
.problem_section {
    background-image: url(../images/problem_bg_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 55px 0 75px;
}
.problem_section h2 {
    display: table;
    margin: auto;
    font-size: 38px;
    font-weight: 700;
    color: #484848;
    position: relative;
    padding: 0 60px;
}
.problem_section h2:before {
    content: '/';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: 700;
    margin: auto;
    line-height: 1;
}
.problem_section h2:after {
    content: '/';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 50px;
    font-weight: 700;
    margin: auto;
    line-height: 1;
    transform: rotate(327deg);
}
.problem_section h2 span {
    font-size: 42px;
}
.problem_contnet_sec {
    position: relative;
    max-width: 987px;
    margin: auto;
}
.problem_contnet_image {
    display: table;
    margin: auto;
    padding-top: 150px;
}
.problem_contnet_text .problem_contnet_text_inner {
    display: table;
    background-image: url('../images/problem_image_3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.problem_contnet_text .problem_contnet_text_inner p {
    font-size: 20px;
    color: #484848;
    line-height: 24px;
    font-weight: 500;
}
.problem_contnet_text_inner.problem_contnet_text_first {
    padding: 70px 60px 82px 65px;
    position: absolute;
    top: 130px;
    left: 20px;
}
.problem_contnet_text_inner.problem_contnet_text_first p {
    transform: rotate(349deg);
}
.problem_contnet_text_inner.problem_contnet_text_second {
    padding: 60px 50px 65px 50px;
    position: absolute;
    top: 28px;
    left: 230px;
}
.problem_contnet_text_inner.problem_contnet_text_second p {
    transform: rotate(353deg);
}
.problem_contnet_text_inner.problem_contnet_text_third {
    padding: 58px 52px 72px 53px;
    position: absolute;
    top: 9px;
    right: 200px;
    transform: rotate(22deg);
}
.problem_contnet_text_inner.problem_contnet_text_third p {
    transform: rotate(353deg);
}
.problem_contnet_text_inner.problem_contnet_text_forth {
    padding: 60px 60px 73px 60px;
    position: absolute;
    top: 150px;
    right: 0;
    transform: rotate(16deg);
}
.problem_contnet_text_inner.problem_contnet_text_forth p {
    transform: rotate(354deg);
}
.problem_contnet_text.problem_contnet_text_slider .problem_contnet_text_inner {
    position: unset !important;
    transform: rotate(0deg);
    margin: auto;
}
/*problem section css end*/

@media(max-width: 900px) {
    .site_header a img {
        max-width: 190px;
    }
    nav.custom_navbar {
        position: fixed;
        top: 0;
        left: 100%;
        right: -100%;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        transition: all 0.4s;
    }
    nav.custom_navbar.navbar_animate {
        left: 0;
        right: 0;
    }
    .custom_navbar ul {
        flex-direction: column;
        text-align: center;
    }
    .custom_navbar ul li {
        margin: 10px 0 !important;
    }
}